@font-face {
  font-family: "Mulish";
  src: url("./fonts/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("./fonts/Mulish-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
}

header {
  display: flex;
  width: 100%;
  padding-bottom: 2%;
  justify-content: space-between;
  align-items: center;
}

input[type="text"] {
  display: block;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  width: 830px;
  height: 44px;
  border: none;
  padding-left: 20px;
}

.input-search-loop {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
}

p.bold {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}

p.subscribersInfo {
  font-family: "Mulish", sans-serif;
  color: rgb(187, 186, 186);
  font-size: 0.6rem;
}

p.side-menu {
  font-family: "Mulish", sans-serif;
  color: rgb(187, 186, 186);
  white-space: nowrap;
}

p.side-subscriber {
  font-family: "Mulish", sans-serif;
  color: rgb(187, 186, 186);
  white-space: nowrap;
}

p.side-menu-home {
  font-family: "Mulish", sans-serif;
  color: rgb(243, 0, 0);
}

.header-menu {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  align-items: center;
  width: 150px;
}

.left-header-buttons {
  display: flex;
  gap: 5%;
  width: 100%;
}

.visited-chanel-header {
  display: flex;
  gap: 10px;
  width: 280px;
  align-items: center;
}

.main-content {
  flex: 2;
}

.userPicImg {
  border-radius: 50%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 134px;
  height: 100%;
  margin: 5px;
  padding-right: 200px;
  gap: 20px;
}

.userPic {
  border-radius: none;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  align-items: center;
  width: 250px;
  padding-right: 10px;
}

.channel-left-side-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.subscriptions {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  width: 834px;
  height: 28px;
}

.search-Input {
  display: flex;
  position: relative;
  justify-content: center;
  width: 500px;
}

.visited-chanel {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-top: 20px;
}

.visited-chanel-info {
  display: flex;
  flex-direction: column;
}

.visited-chanel-info p {
  margin: 2px;
}

.logo-button {
  display: flex;
  justify-content: space-around;
  width: 116px;
  height: 25px;
}

.logo-side-button {
  display: flex;
  align-items: center;
  gap: 8px;
}

p.logoName {
  font-family: "Mulish", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  padding-left: 3px;
  margin: 0;
}

.subscribeButtons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subscribeButton {
  background-color: #f80101;
  color: azure;
  border-radius: 20px;
  width: 154px;
  height: 40px;
  font-family: "Mulish", sans-serif;
}

.home-button {
  color: #f80101;
  border-bottom: #f80101 2px solid;
  font-weight: 700;
}

.notifications {
  position: relative;
  cursor: pointer;
}

.notifications img {
  display: block;
}

span.numberNotifications {
  position: absolute;
  top: -5px;
  background-color: #f80101;
  color: azure;
  border-radius: 50%;
  padding: 2px;
  width: 18px;
  height: 18px;
  font-family: "Mulish", sans-serif;
  text-align: center;
}

